.table_prices_result__container{
    padding: 0px 45px;
}

.table_prices_result__container .content_info{
        
    min-height: 405px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-bottom: 40px;
}

.table_prices_result__container .content_info img{
    width: 30%;
    height: auto;
    max-width: 100%;
}
.table_prices_result__container .content_info .name{
    margin: 10px 0px;
    font-size: 35px;
}
.table_prices_result__container .table_comparation{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-bottom: 40px;
}
.table_prices_result__container .table_comparation table{
    width: 100%;
    color: #fff;
    font-size: 24px;
    font-family: Rajdhani, sans-serif;
    font-weight: 500;
    padding: 20px !important;
    border: 2px solid #6b54b6;
    border-collapse: initial;
}

.table_prices_result__container .table_comparation .coluna-logo{
    width: 200px;
}

.table_prices_result__container .table_comparation table th{
    vertical-align: middle;
    border-color: transparent;
    border: 0;
    padding: 5px 7px;
    text-align: center;
}

.table_prices_result__container .table_comparation table th img{
    width: 150px;
    margin-bottom: 15px;
    height: auto;
    max-width: 100%;
}

.table_prices_result__container .table_comparation tr th{
    font-weight: 600;
    border-color: transparent;
    text-align: center;
    font-size: 22px;
}


.table_prices_result__container .table_comparation tr td a{
    position: relative;
    padding: 0px -12px;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
    width: 65%;
    transition: 0.6s all;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right-width: 0px;

}
.table_prices_result__container .table_comparation tr td a.activable:hover {
    color: #6302ae;
    border: 1px solid white;
    background: #fff;
}

.table_prices_result__container .table_comparation tr td a.activable:hover img {
    background: #fffcfc;
    opacity: 1;
}

.table_prices_result__container .table_comparation tr td a img{
    height: 100%;
    width: 30px;
    margin-left: 10px;
    position: absolute;
    right: -35px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left-width: 0px;
    transition: 0.6s all;
    background: #fffcfc;
    padding: 1.3px;
    background: #fffcfc;
    opacity: 0;
}

.table_prices_result__container .table_comparation tr td{
    text-align: center;
}

.table_prices_result__container .table_comparation tbody tr th{
    text-align: left;
}

/* mobile */
@media only screen and (max-width: 1024px){
    .table_prices_result__container{
        padding: 0px 15px;
    }
    
    .table_prices_result__container .table_comparation tbody tr td.disabled-column{
        display: none;
    }

    .table_prices_result__container .table_comparation tbody tr td.active{
        display: block !important;
    }

    .table_prices_result__container .table_comparation .coluna-logo{
        border-radius: 50%;
        width: 30px;
        cursor: pointer;
        bottom: 113px;
        position: fixed;
        z-index: 9999;
        background: #21132ce8;
        width: 60px;
        height: 58px;
        border: 2px solid #fff;
        padding: 10px;
        box-shadow: -5px 4px 10px 0px #000000d4;
        top: initial;
        left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .table_prices_result__container .table_comparation .coluna-logo.active{
        background-color:  #5821a9e6;
    }
    
    .table_prices_result__container .table_comparation .coluna-logo img{
        width: 50px;
        height: auto;
        max-width: 100%;
        margin-bottom: 0px;
    }

    .table_prices_result__container .table_comparation .coluna-logo:nth-child(2){
        bottom: 108px;
    }

    .table_prices_result__container .table_comparation .coluna-logo:nth-child(3){
        bottom: 190px;
    }
    .table_prices_result__container .table_comparation .coluna-logo:nth-child(4){
        bottom: 264px;
    }
    .table_prices_result__container .table_comparation .coluna-logo:nth-child(5){
        bottom: 340px;
    }
    
    .table_prices_result__container .table_comparation table{
        font-size: 19px;
    }
    .table_prices_result__container .table_comparation table th{
        padding: 0px !important;
    }

    .table_prices_result__container .table_comparation tr th{
        font-size: 18px;
    }
    .table_prices_result__container .table_comparation tr td a{
        width: 100%;
    }
    .table_prices_result__container .content_info img{
        width: 300px;
    }
    .table_prices_result__container .content_info{
        min-height: 350px;
    }
}

@media only screen and (max-width: 425px){
    .table_prices_result__container .table_comparation table{
        font-size: 14px;
    }
    .table_prices_result__container .table_comparation tr th{
        font-size: 14px;
    }
    .table_prices_result__container .table_comparation tbody tr th{
        width: 180px;
    }
   

}