.radial-menu__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.radial-menu__container ul {
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -moz-transition: ease-out 0.3s all;
    -o-transition: ease-out 0.3s all;
    -webkit-transition: ease-out 0.3s all;
    transition: ease-out 0.3s all;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
  }
  .radial-menu__container ul li {
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-transform-origin: 100% 100%;
    overflow: hidden;
    display: none;
  }
  .radial-menu__container ul li a {
    color: #fff;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    background: #2f1c3d;
    font-size: 12px;
    font-weight: 700;
    font-family: Rajdhani, sans-serif;
    line-height: 40px;
    transition: all 0.7s;
    border: 1px solid #bbb6c1;
  }
  .radial-menu__container ul li:nth-child(odd) a {
    background: #21132c;
  }
  .radial-menu__container ul li:nth-child(1) {
    display: block;
    -moz-transform: rotate(60deg) skew(30deg);
    -ms-transform: rotate(60deg) skew(30deg);
    -webkit-transform: rotate(60deg) skew(30deg);
    transform: rotate(60deg) skew(30deg);
  }
  .radial-menu__container ul li:nth-child(1) a {
    transform: skew(-30deg) rotate(-60deg);
  }
  .radial-menu__container ul li:nth-child(1) a:hover {
   background: #fafdfe;
      color: #461b82;
  }
  .radial-menu__container ul li:nth-child(2) {
    display: block;
    -moz-transform: rotate(120deg) skew(30deg);
    -ms-transform: rotate(120deg) skew(30deg);
    -webkit-transform: rotate(120deg) skew(30deg);
    transform: rotate(120deg) skew(30deg);
  }
  .radial-menu__container ul li:nth-child(2) a {
    transform: skew(-30deg) rotate(-60deg);
  }
  .radial-menu__container ul li:nth-child(2) a:hover {
   background: #fafdfe;
      color: #461b82;
  }
  .radial-menu__container ul li:nth-child(3) {
    display: block;
    -moz-transform: rotate(180deg) skew(30deg);
    -ms-transform: rotate(180deg) skew(30deg);
    -webkit-transform: rotate(180deg) skew(30deg);
    transform: rotate(180deg) skew(30deg);
  }
  .radial-menu__container ul li:nth-child(3) a {
    transform: skew(-30deg) rotate(-60deg);
  }
  .radial-menu__container ul li:nth-child(3) a:hover {
   background: #fafdfe;
      color: #461b82;
  }
  .radial-menu__container ul li:nth-child(4) {
    display: block;
    -moz-transform: rotate(240deg) skew(30deg);
    -ms-transform: rotate(240deg) skew(30deg);
    -webkit-transform: rotate(240deg) skew(30deg);
    transform: rotate(240deg) skew(30deg);
  }
  .radial-menu__container ul li:nth-child(4) a {
    transform: skew(-30deg) rotate(-60deg);
  }
  .radial-menu__container ul li:nth-child(4) a:hover {
   background: #fafdfe;
      color: #461b82;
  }
  .radial-menu__container ul li:nth-child(5) {
    display: block;
    -moz-transform: rotate(300deg) skew(30deg);
    -ms-transform: rotate(300deg) skew(30deg);
    -webkit-transform: rotate(300deg) skew(30deg);
    transform: rotate(300deg) skew(30deg);
  }
  .radial-menu__container ul li:nth-child(5) a {
    transform: skew(-30deg) rotate(-60deg);
  }
  .radial-menu__container ul li:nth-child(5) a:hover {
   background: #fafdfe;
      color: #461b82;
  }
  .radial-menu__container ul li:nth-child(6) {
    display: block;
    -moz-transform: rotate(360deg) skew(30deg);
    -ms-transform: rotate(360deg) skew(30deg);
    -webkit-transform: rotate(360deg) skew(30deg);
    transform: rotate(360deg) skew(30deg);
  }
  .radial-menu__container ul li:nth-child(6) a {
    transform: skew(-30deg) rotate(-60deg);
  }
  .radial-menu__container ul li:nth-child(6) a:hover {
   background: #fafdfe;
      color: #461b82;
  }
  .radial-menu__container ul li.close {
    width: 35px;
    height: 35px;
    background: #ffffff3d;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-transform: scale(3.8) rotate(45deg);
    -ms-transform: scale(3.8) rotate(45deg);
    -webkit-transform: scale(3.8) rotate(45deg);
    transform: scale(3.8) rotate(45deg);
    -moz-transition: ease-in-out 0.3s all;
    -o-transition: ease-in-out 0.3s all;
    -webkit-transition: ease-in-out 0.3s all;
    transition: ease-in-out 0.3s all;
    -webkit-transform-origin: 50% 50%;
    transform: rotate(30deg);
  }
  .radial-menu__container ul li.close img {
    width: 95%;
  }
  .radial-menu__container ul.active {
    transform: rotate(-30deg) scale(2.5);
  }
  
  .radial-menu__container .close div{
    content: '';
    justify-content: center;
    display: flex;
  }

.radial-menu__container ul.active {
    transform: rotate(-30deg) scale(2.5);
    transition: ease-out 0.3s all;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    display: inline-block;
    width: 200px;
    height: 200px;
    top: 40%;

}



.radial-menu__container .slot-1 span{
    position: absolute;
    top: 15px;
    left: 79px;
    transform: rotate(30deg);
}
.radial-menu__container .slot-1 img{
  transform: rotate(27deg);
  position: absolute;
  top: 6px;
  right: 74px;
}


.radial-menu__container .slot-2 span{
    position: absolute;
    top: 16px;
    left: 79px;
    transform: rotate(-30deg);
}

.radial-menu__container .slot-2  img{
  transform: rotate(330deg);
  position: absolute;
  top: 11px;
  right: 78px;
}

.radial-menu__container .slot-3 span{
    position: absolute;
    top: 15px;
    left: 88px;
    transform: rotate(-90deg);
}

.radial-menu__container .slot-3 img{
  transform: rotate(265deg);
  position: absolute;
  top: 15px;
  right: 80px;
}

.radial-menu__container .slot-4 span{
    position: absolute;
    top: 12px;
    left: 85px;
    transform: rotate(210deg);
}

.radial-menu__container .slot-4 img{
  transform: rotate(208deg);
  position: absolute;
  top: 20px;
  right: 76px;
}
.radial-menu__container .slot-5 span{
    position: absolute;
    top: 13px;
    left: 88px;
    transform: rotate(150deg);
}
.radial-menu__container .slot-5 img{
  transform: rotate(149deg);
  position: absolute;
  top: 21px;
  right: 72px;
}

.radial-menu__container .slot-6 span{
    position: absolute;
    top: 13px;
    left: 85px;
    transform: rotate(91deg);
}

.radial-menu__container .slot-6 img{
  transform: rotate(88deg);
  position: absolute;
  top: 15px;
  right: 67px;
}
.radial-menu__container .arma-radial{
  width: 50px;
  height: auto;
}


.radial-menu__container .weapon-1 img{
  transform: rotate(27deg);
  position: absolute;
  top: 6px;
  right: 74px;
}
.radial-menu__container .weapon-1 span{
  left: 76px;
  top: 28px;
  transform: rotate(30deg);
  position: absolute;
}


.radial-menu__container .weapon-2 img{
  transform: rotate(330deg);
  position: absolute;
  top: 11px;
  right: 78px;
}
.radial-menu__container .weapon-2 span{
  left: 90px;
  top: 31px;
  transform: rotate(-28deg);
  position: absolute;
}

.radial-menu__container .weapon-3 img{
  transform: rotate(265deg);
  position: absolute;
  top: 15px;
  right: 80px;
}
.radial-menu__container .weapon-3 span{
  left: 100px;
  top: 12px;
  transform: rotate(-90deg);
  position: absolute;
}

.radial-menu__container .weapon-4 img{
  transform: rotate(208deg);
  position: absolute;
  top: 20px;
  right: 76px;
}
.radial-menu__container .weapon-4 span{
  left: 102px;
  top: -5px;
  transform: rotate(208deg);
  position: absolute;
}

.radial-menu__container .weapon-5 img{
  transform: rotate(149deg);
  position: absolute;
  top: 21px;
  right: 72px;
}
.radial-menu__container .weapon-5 span{
  left: 75px;
  top: -2px;
  transform: rotate(150deg);
  position: absolute;
}

.radial-menu__container .weapon-6 img{
  transform: rotate(88deg);
  position: absolute;
  top: 15px;
  right: 67px;
}
.radial-menu__container .weapon-6 span{
  left: 64px;
  top: 12px;
  transform: rotate(91deg);
  position: absolute;
}

.radial-menu__container .logo-team-radial{
  cursor: pointer;
}


.radial-menu__container li img.change{
  padding: 4px;
  position: absolute;
  left: 78px;
  top: 21px;
  width: 13px;
  height: auto;
  transform: skew(-30deg) rotate(-60deg);
  cursor: pointer;
}

.box_options__container {
  background: #2f1c3d;
  position: absolute;
  right: 100px;
  width: 270px;
  border-radius: 5px;
  color: #fff;
  margin-top: 65px;
  box-shadow: 0px 0 20px rgb(47 28 61 / 24%);
  top: 30%
}

.box_options__container::after{
  content: '';
  height: auto;
  border-style: solid;
  border-width: 33px 40px 0px 40px;
  border-color: #2f1c3d transparent transparent transparent;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -56px;
  transform: rotate(90deg);
  z-index: -1;
}

.box_options__container .content{
  padding: 30px 0px 60px 0px;
}

.box_options__container p{
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;

}
.box_options__container hr{
  width: 30%;
  opacity: 0.3;
  margin-bottom: 40px;
}

.box_options__container .content .option{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0px;
  padding: 5px 0px;
  background-color: #21132c91;
  transition: 0.4s all;
  border: 1px solid #21132c91;
  cursor:pointer;
  border-radius: 5px;
}

.box_options__container .content .option li{
  list-style: none;
}
.box_options__container .content .option:hover{
  border: 1px solid #ffff;
}

.box_options__container .content .option img{
  width: 50px;
  margin: 0px 15px 0px 30px;
}

.box_options__container .content .option p{
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  font-weight: 600;
}


/* mobile */
@media only screen and (max-width: 1024px){

  .radial-menu__container, .radial-menu__container ul{
    width: 100% !important;
  }

  .radial-menu__container ul.active{
    position: initial;
    transform: initial;
    height: 100%;
  }
  .radial-menu__container ul li {
    transform: initial !important;
    position: initial;
    width: 90%;
    margin-bottom: 30px;
  }

  .radial-menu__container ul li:nth-child(odd) {
    border: 1px solid #fff;
    border-left: 0;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: -9px 2px 2px 3px #5821a9;
  } 

  .radial-menu__container ul li:nth-child(even) {
    float: right;
    border: 1px solid #fff;
    border-right: 0;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 7px 2px 2px 3px #5821a9;
  }

  .radial-menu__container ul li a{
    transform: initial !important;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
  }

  .radial-menu__container li:nth-child(odd) a span {
    padding-right: 45px;
    text-align: right;
  }

  .radial-menu__container li:nth-child(even) a span{
    padding-left: 45px;
    text-align: left;
  }

  .radial-menu__container .itens-li span{
    position: initial;
    transform: initial;
    font-family: Rajdhani, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 28px;
    width: 100%;
  }
  .radial-menu__container ul li a:hover span{
    color: #461b82 !important;
  }

  .radial-menu__container .close.logo-team-radial{
    background: #ffffffde;
    width: 50px;
    height: 50px;
    border: 0px;
    position: fixed;
    bottom: 0px !important;
    border-radius: 50%;
    z-index: 9999;
    right: 22px !important;
    left: initial;
    top: initial;
    padding: 2px;
    box-shadow: initial;
    box-shadow: -5px 4px 10px 0px #000000d4;
  }
  .radial-menu__container ul li.close img{
    width: 100%;
  }
  .radial-menu__container li:nth-child(odd) .itens-li img{
    left: 30px;
  }

  .radial-menu__container li:nth-child(even) .itens-li img{
    right: 30px !important;
  }

  .radial-menu__container .itens-li img{
    transform: initial;
    position: absolute;
    width: 110px;
    top: 7px !important;
  }
  .radial-menu__container .box_options__container{
    display: none;
  }
  .radial-menu__container .last-item-li{
    display: none !important;
  }

  .radial-menu__container .change{
    background: #ffffffde;
    width: 50px !important;
    height: 50px !important;
    border: 2px solid #fff;
    position: fixed !important;
    bottom: 100px !important;
    border-radius: 50%;
    z-index: 9999;
    right: 22px !important;
    left: initial !important;
    top: initial !important;
    padding: 2px;
    box-shadow: initial !important;
    transform: initial !important;
    padding: 0px !important;
    background: #2f1c3d;
    box-shadow: -5px 4px 10px 0px #000000d4 !important;
  }
}