.message-top-box__container{
    padding-top: 55px !important;
    padding-right: 3.9% !important;
    padding-left: 3.9% !important;
}

.message-top-box__container .content{
    width: 100%;
}

.message-top-box__container .content p{
    font-family: Rajdhani, sans-serif;
    font-weight: 700;
    margin: 25px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 35px;
    text-align: center;
    line-height: 35px;
}

/* mobile */
@media only screen and (max-width: 1024px){

    .message-top-box__container .content p{
        text-align: left;
        border-left: 7px solid #5821a9;
        padding-left: 12px;
        padding-right: 20px;
        font-size: 30px;
    }
    .message-top-box__container{
        margin-bottom: 20px;
        padding-top: 15px !important;
    }
}
